@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #FFD369;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #FFD369 !important;
  background: rgba(34, 40, 49, 0.5);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-pagination-bullet {
  background: #FFD369 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}